@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    @apply bg-noir text-white font-body antialiased;
  }
  h1, h2, h3, h4, h5 {
    @apply font-display;
  }
}

@layer utilities {
  .gold-text {
    @apply text-gold;
  }
  .gold-border {
    @apply border-gold;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
